/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*                        Basic Needs                        */
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

@font-face{
    font-family: gta;
    src: url(../../assets/font/pricedown/pricedown_bl.ttf);
}

@font-face{
    font-family: caviar_dreams_ita;
    src: url(../../assets/font/caviar_dreams/CaviarDreams_Italic.ttf);
}

@font-face{
    font-family: caviar_dreams_bold;
    src: url(../../assets/font/caviar_dreams/CaviarDreams_Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #1b2838;
}

#main{
    width: 100%;
    height: 100%;
}

img{
    height: auto;
    max-height: 900px;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*                    Section "categorie"                    */
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*                                                           */
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


#categorie {
    float: left;
    background-color: #1b2838;
    width: 192px;
    position: absolute;
    text-align: center;
    height: 100%;
    
}

#categorie h1{
    padding: 10%;
    border-style: none none solid;
    border-color: rgb(105, 226, 35);
    font-family: gta;
    color: #FFF;
    font-size: 30px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

#categorie li{
    padding: 10%;
    list-style-type: none;
    font-family: caviar_dreams_bold;
    border-style: none none solid;
    color: white;
}

#categorie li:hover{
    background-color: #fcfcfc36;
}

/* @media screen and (max-width:650px){
    #categorie{
        display: none;
    }
} */

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*                Division "steamuserinfo"                   */
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*                                                           */
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


.steamuserinfo{
    background-color: #1b2838;
    height: 77px;
    border-style: none none solid;
    color: rgb(105, 226, 35);
    position: relative;
    margin-left: 192px;
}

.steamuserinfo .suiLeft{
    float: left;
    color: white;
    display: flex;
    padding: 5px;
}

.steamuserinfo .suiLeft p{
    font-family: caviar_dreams_ita;
    padding: 5px;
}

.steamuserinfo .suiLeft .avatar{
    width: 64px;
    height: 64px;
}


.steamuserinfo .suiRight{
    float: right;
    right: 5%;
    position: relative;
    top: 20px;
}

.steamuserinfo .suiRight button{
    border-radius: 1.5rem;
    border-style: solid;
    background-color: #ff0000;
    border-color: #ff0000;
    padding: 5px 20% 5px 20%;
    color: #FFF;
    font-size: 20px;
    font-family: caviar_dreams_bold;
}



@media screen and (max-width:650px){
    .steamuserinfo{margin-left: 0;}
}

.steamuserinfo a{
    display: none;
}

@media screen and (max-width:650px){
    .steamuserinfo a{
        display: block;
        align-self: center;
        padding: 10px;
        color: white;
    }
}