#lspd{
    display: none;
    margin-left: 192px;
    background-color: #1b2838;
    width: 1728px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#lspd .name{
    position: absolute;
    top: 135px;
    left: 550px;
}

#lspd .buttonlist{
    display: flex;
    position: absolute;
    top: 180px;
    left: 550px;
    list-style: none;
}

#lspd .buttonlist li{
    margin-left: 60px;
    color: black;
    list-style: none;
} 

#lspd .buttonlist li:hover{
    border-bottom: solid black;
} 


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*                    division "main"                        */
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*                                                           */
/*                                                           */
/*                                                           */
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


#lspd .main{
    position: absolute;
    top: 260px;
    left: 800px;
}

#lspd .main li{
    padding: 10px;
    color: black;
    list-style: none;
} 


#lspd .main li h4{
    padding: 10px;
    color: black;
    list-style: none;
    background-color: #ffc825;
    height: 40px;
    width: 100%;
    text-align: center;
} 

#lspd .main li p{
    color: white;
    text-align: none;
} 



#lspd .main form{
    padding-bottom: 30px;
}

#lspd .main h3{
    padding-bottom: 40px;
    color: #ffc825;
    text-align: center;
}

/*  */

#lspd .main .field{
    position: relative;
    height: 72px;
    padding: 16px 0 8px 0;
 }

#lspd .main .field-label{
    position: relative;
    margin: 0;
    display: block;
    color:  #bfbfbf;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
    transform: translateY(24px);
    transition: transform 0.3s, color 0.3s;
    transform-origin: 0 50%;
    margin-left: 10px;
}


#lspd .main .field-input{
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    padding: 8px 0;
    line-height: 16px;
    font-family: Roboto;
    font-size: 16px;
    background: transparent;
    border-style: solid solid none;
    -webkit-appearance: none;
    outline: none;
    color: white;
    border-color: #ffc825;
    padding-left: 10px;
 }

#lspd .main .field-1::after, .field-1::before{
    content:'';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: #e6e6e6;
}

#lspd .main .field::after{
    background-color: #ffc825; /* $color*/
    transform: scaleX(0);
    transition: transform 0.3s;
}

#lspd .main .has-label .field-label{
    transform: translateY(0) scale(0.75);
}

#lspd .main .is-focused .field-label{
    color: #FFF; /* $color*/
}

#lspd .main .field.is-focused::after{
    transform: scaleX(1);
}

 /*  */ 


 
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*                    division "rapport"                     */
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*                                                           */
/*                                                           */
/*                                                           */
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


#lspd .rapport{
    display: none;
    position: absolute;
    top: 260px;
    left: 800px;
}

#lspd .rapport .selectreportpd h2{
    margin: 70px;
    color: black;
    list-style: none;
    background-color: #ffc825;
    height: 40px;
    width: 100%;
    text-align: center;
    padding: 5px;
}

#lspd .rapport .createreportpd{
    display: none;
}

#lspd .rapport .createreportpd form{
    width: 550px;
}

/*  */

#lspd .rapport .field{
    position: relative;
    height: 72px;
    padding: 16px 0 8px 0;
 }

#lspd .rapport .field-label{
    position: relative;
    margin: 0;
    color:  #bfbfbf;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
    transform: translateY(24px);
    transition: transform 0.3s, color 0.3s;
    transform-origin: 0 50%;
    margin-left: 10px;
    display: block;
}


#lspd .rapport .field-input{
    position: relative;
    display: block;
    width: 40%;
    height: 32px;
    padding: 8px 0;
    line-height: 16px;
    font-family: Roboto;
    font-size: 16px;
    background: transparent;
    border-style: solid solid none;
    -webkit-appearance: none;
    outline: none;
    color: white;
    border-color: #ffc825;
    padding-left: 10px;
 }

 #lspd .rapport .field-input-large{
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    padding: 8px 0;
    line-height: 16px;
    font-family: Roboto;
    font-size: 16px;
    background: transparent;
    border-style: solid solid none;
    -webkit-appearance: none;
    outline: none;
    color: white;
    border-color: #ffc825;
    padding-left: 10px;
 }


#lspd .rapport .field::after, .field::before{
    content:'';
    height: 2px;
    width: 40%;
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: #e6e6e6;
}


#lspd .rapport .fieldlarge::after, .fieldlarge::before{
    content:'';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: #e6e6e6;
}

#lspd .rapport .fieldlargerapport::after, .fieldlargerapport::before{
    content:'';
    height: 2px;
    width: 109%;
    position: absolute;
    bottom: -160px;
    left: 0;
    background-color: #e6e6e6;
}

#lspd .rapport .field::after{
    background-color: #ffc825; /* $color*/
    transform: scaleX(0);
    transition: transform 0.3s;
}

#lspd .rapport .has-label .field-label{
    transform: translateY(0) scale(0.75);
}

#lspd .rapport .is-focused .field-label{
    color: #FFF; /* $color*/
}

#lspd .rapport .field.is-focused::after{
    transform: scaleX(1);
}

#lspd .rapport .field-label-large {
    position: relative;
    margin: 0;
    color: #bfbfbf;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
    transform: translateY(24px);
    transition: transform 0.3s, color 0.3s;
    transform-origin: 0 50%;
    margin-left: 10px;
}

textarea.TArapport{
    position: relative;
    /* display: block; */
    padding: 8px 0;
    line-height: 16px;
    font-family: Roboto;
    font-size: 16px;
    background: transparent;
    border-style: solid solid none;
    -webkit-appearance: none;
    outline: none;
    color: white;
    border-color: #ffc825;
    padding-left: 10px;
    margin: 0px;
    width: 600px;
    height: 200px;
    resize: none;
}

.rapport .createreportpd .submitbutton{
    bottom: -250px;
    position: absolute;
    background-color: #ffc825;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}




#lspd .rapport .field-input-search{
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    padding: 8px 0;
    line-height: 16px;
    font-family: Roboto;
    font-size: 16px;
    background: transparent;
    border-style: solid solid none;
    -webkit-appearance: none;
    outline: none;
    color: white;
    border-color: #ffc825;
    padding-left: 10px;
 }

 #lspd .rapport .fieldsearch::after, .fieldsearch::before{
    content:'';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: #e6e6e6;
}

.rapport .searchreportpd .submitbutton{
    position: unset;
    background-color: #ffc825;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}



 /*  */ 


 #lspd .rapport .searchreportpd{
    display: none;
}

#lspd .rapport .searchreportpd .rapportcontent{
    display: none;
    margin-top: 20px;
}

#lspd .rapport .searchreportpd .rapportlist li{
    margin-top: 20px;
    list-style: none;
}

#lspd .rapport .searchreportpd .rapportlist li h4 {
    padding: 10px;
    color: black;
    list-style: none;
    background-color: #ffc825;
    height: 40px;
    width: 100%;
    text-align: center;
}